.container{
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
    padding: 20px;
    margin-top: 50px;
}

.table{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    margin: auto;
    /* border-collapse: collapse; */
    border-radius: 16px;
}
thead>tr{
    background-color: #006CE6;
    color: white;
    border-radius: 16px;
}
th,td{
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;    */
    padding: 16px 30px;
    font-size: 18px;

}
tbody tr:hover{
    background-color: rgb(220, 218, 218); 
    transition: 0.4s;
}

tr:nth-child(Even){
    background-color: rgb(244, 244, 244);
}


.searchDiv{
    width: 60%;
    margin: auto;
    padding: 10px;
    /* border: 1px solid; */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.searchDiv>input{
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;}
.searchDiv>button{
    padding: 8px 35px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #006CE6;
    color: white;
    font-weight: 500;
    transition: 0.5s;
}
.searchDiv>button:hover{
    cursor: pointer;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#006CE6;

}
@media screen and (max-width: 769px){
    .container{
        width: 95%;
    }
    .searchDiv{
        width: 90%;
    }
}